@import "@fontsource/fira-mono";

:root {
  --baseFontFamily: "Source Sans Pro", sans-serif, emoji;
  --monospaceFontFamily: "Ubuntu Mono", monospace, emoji;
  --iconFontFamily: "remixicon";
  --txtPrimaryColor: #16161a;
  --txtHintColor: #666f75;
  --txtDisabledColor: #a0a6ac;
  --primaryColor: #16161a;
  --bodyColor: #f8f9fa;
  --baseColor: #ffffff;
  --baseAlt1Color: #e4e9ec;
  --baseAlt2Color: #d7dde4;
  --baseAlt3Color: #c6cdd7;
  --baseAlt4Color: #a5b0c0;
  --infoColor: #5499e8;
  --infoAltColor: #cee2f8;
  --successColor: #32ad84;
  --successAltColor: #c4eedc;
  --dangerColor: #e34562;
  --dangerAltColor: #f7cad2;
  --warningColor: #ff944d;
  --warningAltColor: #ffd4b8;
  --overlayColor: rgba(53, 71, 104, 0.28);
  --tooltipColor: rgba(0, 0, 0, 0.85);
  --shadowColor: rgba(0, 0, 0, 0.06);
  --baseFontSize: 14.5px;
  --xsFontSize: 12px;
  --smFontSize: 13px;
  --lgFontSize: 15px;
  --xlFontSize: 16px;
  --baseLineHeight: 22px;
  --smLineHeight: 16px;
  --lgLineHeight: 24px;
  --inputHeight: 34px;
  --btnHeight: 40px;
  --xsBtnHeight: 22px;
  --smBtnHeight: 30px;
  --lgBtnHeight: 54px;
  --baseSpacing: 30px;
  --xsSpacing: 15px;
  --smSpacing: 20px;
  --lgSpacing: 50px;
  --xlSpacing: 60px;
  --wrapperWidth: 850px;
  --smWrapperWidth: 420px;
  --lgWrapperWidth: 1200px;
  --appSidebarWidth: 75px;
  --pageSidebarWidth: 230px;
  --baseAnimationSpeed: 0.15s;
  --activeAnimationSpeed: 70ms;
  --entranceAnimationSpeed: 0.25s;
  --baseRadius: 4px;
  --lgRadius: 12px;
  --btnRadius: 4px;
  --accent-color: var(--primaryColor);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      var(--color-bg-0) 0%,
      var(--color-bg-1) 15%,
      var(--color-bg-2) 50%
    );
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
